<h3>
    {{actor.name}} {{localize "SCOP.Exerts"}}
</h3>
{{{printDice effortRoll.valid effortRoll.discard 0}}}
{{#if (notEqual bonus 0)}}
    <div class="roll-mod">
        {{localize "SCOP.Modifiers"}} ({{localize "SCOP.Total"}}: {{numberFormat totalBonus sign=true}})
    </div>
{{/if}}
<div class="roll-mod">
    <span class="result-label">{{localize "SCOP.EffortBonus"}}: {{numberFormat effortBonus sign=true}}</span>
</div>
<div class="roll-final">
    <span class="result-label">{{localize "SCOP.Result"}}: {{finalResult}}</span>
</div>
