<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

    {{> "systems/scop/templates/forms/parts/roll-header.html"}}

    <div class="features" data-group="primary" data-tab="features">
        {{#if power}}
            {{> "systems/scop/templates/forms/parts/roll-powers.html"}}
        {{/if}}
        {{> "systems/scop/templates/forms/parts/roll-concepts.html"}}
        <hr>
        {{> "systems/scop/templates/forms/parts/roll-bonus-dice.html"}}
        {{> "systems/scop/templates/forms/parts/roll-bonus.html"}}
    </div>

    <hr>

    {{#if effort}}
        <button type="button" id="roll" title="{{localize 'SCOP.Roll'}}" class="flex0" disabled>
            {{localize "SCOP.Roll"}}
        </button>
        {{#if (greaterEqual actor.system.energy.value cost)}}
            <button type="button" id="effort" title="{{localize 'SCOP.Effort'}}" class="flex0">
                {{localize "SCOP.MakeAnEffort"}} ({{localize "SCOP.Cost"}}: {{cost}})
            </button>
        {{else}}
            <button type="button" id="effort" title="{{localize 'SCOP.Effort'}}" class="flex0" disabled>
                {{localize "SCOP.NoEnergy"}}
            </button>
        {{/if}}
    {{else}}
        <button type="button" id="roll" title="{{localize 'SCOP.Roll'}}" class="flex0">
            {{localize "SCOP.Roll"}}
        </button>
        {{#if (greaterEqual actor.system.energy.value cost)}}
            <button type="button" id="effort" title="{{localize 'SCOP.MakeAnEffort'}}" class="flex0" disabled>
                {{localize "SCOP.MakeAnEffort"}} ({{localize "SCOP.Cost"}}: {{cost}})
            </button>
        {{else}}
            <button type="button" id="effort" title="{{localize 'SCOP.MakeAnEffort'}}" class="flex0" disabled>
                {{localize "SCOP.NoEnergy"}}
            </button>
        {{/if}}
    {{/if}}

</form>

