<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

    {{> "systems/scop/templates/forms/parts/roll-header.html"}}

    <div class="features" data-group="primary" data-tab="features">
        {{#if power}}
            {{> "systems/scop/templates/forms/parts/roll-powers.html"}}
        {{/if}}
        {{> "systems/scop/templates/forms/parts/roll-concepts.html"}}
        <hr>
        {{> "systems/scop/templates/forms/parts/roll-bonus-dice.html"}}
        {{> "systems/scop/templates/forms/parts/roll-bonus.html"}}
    </div>
    <hr>
    {{#if (and (greaterThan useCost 0) (greaterEqual actor.system.energy.value useCost))}}
        <button type="button" id="roll" title="{{localize 'SCOP.Roll'}}" class="flex0">
            {{localize "SCOP.Roll"}} ({{localize "SCOP.Cost"}} {{useCost}})
        </button>
    {{else if (greaterEqual actor.system.energy.value useCost)}}
        <button type="button" id="roll" title="{{localize 'SCOP.Roll'}}" class="flex0">
            {{localize "SCOP.Roll"}}
        </button>
    {{else}}
        <button type="button" id="roll" title="{{localize 'SCOP.Roll'}}" class="flex0" disabled>
            {{localize "SCOP.NoEnergy"}} ({{localize "SCOP.Cost"}} {{useCost}})
        </button>
    {{/if}}

</form>

