<form class="{{cssClass}}" autocomplete="off">

    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="feature">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'SCOP.Name'}}"/>
            </h1>
            {{#if this.isActor}}
                <div class="feature-level flex-group-right">
                    <label class="header-label" for="system.value">{{localize "SCOP.Quantity"}}:</label>
                    <input type="text" value="{{system.value}}" disabled/>
                    {{#if (greaterThan system.value 0)}}
                        <a class="item-control" id="decrease" title="Decrease"><i class="fas fa-arrow-down"></i></a>
                    {{else}}
                        <span class="item-control inactive" id="decrease" title="Decrease"><i class="fas fa-arrow-down"></i></span>
                    {{/if}}
                    <a class="item-control" id="increase" title="Increase"><i class="fas fa-arrow-up"></i></a>
                </div>
            {{/if}}
        </div>
    </header>

    <section class="form-section">
        <h3>{{localize "SCOP.Description"}}</h3>
        <div class="scop-editor" data-group="primary" data-tab="description">
            {{editor system.description target="system.description" button=true  engine="prosemirror" editable=editable}}
        </div>
    </section>

</form>
