<form class="{{cssClass}}" autocomplete="off">

    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="feature">
                <input name="system.question" type="text" value="{{item.system.question}}" placeholder="{{localize 'SCOP.Question'}}"/>
            </h1>
            <h1 class="feature">
                <input name="system.answer" type="text" value="{{item.system.answer}}" placeholder="{{localize 'SCOP.Answer'}}"/>
            </h1>
            <div class="feature-level flex-group-right">
                <label class="header-label" for="system.value">{{localize "SCOP.Level"}}:</label>
                <input type="text" value="{{item.system.value}}"/>
                {{#if (greaterThan system.value 1)}}
                    <a class="item-control" id="decrease" title="Decrease"><i class="fas fa-arrow-down"></i></a>
                {{else}}
                    <span class="item-control inactive" title="Decrease"><i class="fas fa-arrow-down"></i></span>
                {{/if}}
                <a class="item-control" id="increase" title="Increase"><i class="fas fa-arrow-up"></i></a>
            </div>
        </div>
    </header>

    <section class="form-section">
        <h3>{{localize "SCOP.Description"}}</h3>
        <div class="scop-editor" data-group="primary" data-tab="description">
            {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
        </div>
        <div class="item-controls trashcan">
            <a class="item-control" id="delete" title="{{localize 'SCOP.DeleteConcept'}}"><i class="fas fa-trash"></i></a>
        </div>
    </section>

</form>
