<form class="{{cssClass}}" autocomplete="off">

    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="feature">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'SCOP.Name'}}"/>
            </h1>
            <div class="feature-level flex-group-right">
                <div class="flex-group-left">
                    {{#if item.system.leveled}}
                        <a class="item-control" id="toggle"><i class="fa-regular fa-square"></i></a>
                    {{else}}
                        <a class="item-control" id="toggle"><i class="fa-solid fa-square"></i></a>
                    {{/if}}
                    <label class="header-label">{{localize "SCOP.SpecialAbility"}}</label>
                </div>
                {{#if this.isActor}}
                    <div class="flex-group-left">
                        {{#if item.system.leveled}}
                            <label class="header-label" for="system.leveled">{{localize "SCOP.Level"}}:</label>
                            <input type="text" value="{{numberFormat item.system.value sign=true}}" disabled/>
                            <a class="item-control" id="decrease" title="{{localize 'SCOP.Decrease'}}"><i class="fas fa-arrow-down"></i></a>
                            <a class="item-control" id="increase" title="{{localize 'SCOP.Increase'}}"><i class="fas fa-arrow-up"></i></a>
                        {{else}}
                            <label class="header-label inactive" for="system.leveled">{{localize "SCOP.Level"}}:</label>
                            <input type="text" value="" disabled/>
                            <a class="item-control inactive"><i class="fas fa-arrow-down"></i></a>
                            <a class="item-control inactive"><i class="fas fa-arrow-up"></i></a>
                        {{/if}}
                    </div>
                {{/if}}
            </div>
        </div>
    </header>

    <section class="form-section">
        <h3>{{localize "SCOP.Description"}}</h3>
        <div class="scop-editor" data-group="primary" data-tab="description">
            {{editor system.description target="system.description" button=true  engine="prosemirror" editable=editable}}
        </div>
        <div class="item-controls trashcan">
            <a class="item-control" id="delete" title="{{localize 'SCOP.DeletePower'}}"><i class="fas fa-trash"></i></a>
        </div>
    </section>

</form>
