<form class="{{cssClass}}" autocomplete="off">

    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        <div class="header-fields">
            <h1 class="feature">
                <input type="text" value="{{localize name}}" placeholder="{{localize name}}" disabled/>
            </h1>
            <div class="feature-level flex-group-right">
                {{{dots condition.value condition.max}}}
                {{#if (greaterThan condition.value condition.min)}}
                    <a class="item-control" id="decrease" title="{{localize 'SCOP.Decrease'}}"><i class="fas fa-arrow-down"></i></a>
                {{else}}
                    <span class="item-control inactive"><i class="fas fa-arrow-down"></i></span>
                {{/if}}
                {{#if (greaterThan condition.max condition.value)}}
                    <a class="item-control" id="increase" title="{{localize 'SCOP.Increase'}}"><i class="fas fa-arrow-up"></i></a>
                {{else}}
                    <span class="item-control inactive"><i class="fas fa-arrow-up"></i></span>
                {{/if}}
                <span> / </span>
                {{#if (greaterThan condition.max 0)}}
                      <a class="item-control" id="max-decrease" title="{{localize 'SCOP.MaxDecrease'}}"><i class="fas fa-arrow-down"></i></a>
                {{else}}
                      <span class="item-control inactive"><i class="fas fa-arrow-down"></i></span>
                {{/if}}
                <a class="item-control" id="max-increase" title="{{localize 'SCOP.MaxIncrease'}}"><i class="fas fa-arrow-up"></i></a>
            </div>
        </div>
    </header>

</form>
