<div class="item flexrow">
    {{#if useBonusDice}}
        <div class="item-name">
            <span>{{localize "SCOP.BonusDice"}}:</span>
        </div>
        <div class="flex-group-right roll-bonus-dice">
            <input type="text" value="{{numberFormat bonusDice sign=true}}" disabled/>
            <a class="item-control" id="bonus-dice-decrease" title="{{localize 'SCOP.Decrease'}}"><i class="fas fa-arrow-down"></i></a>
            <a class="item-control" id="bonus-dice-increase" title="{{localize 'SCOP.Increase'}}"><i class="fas fa-arrow-up"></i></a>
        </div>
    {{else}}
        <div class="item-name inactive">
            <span>{{localize "SCOP.BonusDice"}}:</span>
        </div>
        <div class="flex-group-right roll-bonus-dice">
            <input type="text" class="inactive" value="{{numberFormat bonusDice sign=true}}" disabled/>
            <a class="item-control inactive"><i class="fas fa-arrow-down"></i></a>
            <a class="item-control inactive"><i class="fas fa-arrow-up"></i></a>
        </div>
    {{/if}}
</div>
