<div class="flexrow">
    <h3>{{localize "SCOP.Power"}}</h3>
</div>
<ol class="items-list">
    <li class="item flexrow" id="use-power">
        <div class="item-name">
            <a class="item-control item-image">
                <img src="{{power.img}}" title="{{power.name}}" width="24" height="24"/>
            </a>
            <a class="item-control">
                <h4>
                    {{power.name}}: {{numberFormat power.system.value sign=true}}
                </h4>
            </a>
        </div>
        <div class="item-controls">
            {{#if usePower}}
                <a class="item-control"><i class="fa-solid fa-plus"></i></a>
            {{else}}
                <a class="item-control"><i class="fa-regular fa-square"></i></a>
            {{/if}}
        </div>
    </li>
</ol>
