<div class="item flexrow">
    {{#if useBonus}}
        <div class="item-name">
            <span>{{localize "SCOP.Roll.Modifier"}}:</span>
        </div>
        <div class="flex-group-right roll-bonus">
            <input type="text" value="{{numberFormat bonus sign=true}}" disabled/>
            <a class="item-control" id="bonus-decrease" title="{{localize 'SCOP.Decrease'}}"><i class="fas fa-arrow-down"></i></a>
            <a class="item-control" id="bonus-increase" title="{{localize 'SCOP.Increase'}}"><i class="fas fa-arrow-up"></i></a>
        </div>
    {{else}}
        <div class="item-name inactive">
            <span>{{localize "SCOP.Roll.Modifier"}}:</span>
        </div>
        <div class="flex-group-right roll-bonus">
            <input type="text" class="inactive" value="{{numberFormat bonus sign=true}}" disabled/>
            <a class="inactive"><i class="fas fa-arrow-down"></i></a>
            <a class="inactive"><i class="fas fa-arrow-up"></i></a>
        </div>
    {{/if}}
</div>
