<div class="item flexrow">
    <div class="item-name">
        <span>{{localize "SCOP.Modifier"}}:</span>
    </div>
    <div class="flex-group-right roll-bonus">
        <input type="text" value="{{numberFormat bonus sign=true}}"/>
        <a class="item-control" id="bonus-decrease" title="{{localize 'SCOP.Decrease'}}"><i class="fas fa-arrow-down"></i></a>
        <a class="item-control" id="bonus-increase" title="{{localize 'SCOP.Increase'}}"><i class="fas fa-arrow-up"></i></a>
    </div>
</div>
