<div class="flexrow">
    <h3>{{localize "SCOP.Concepts"}}</h3>
</div>
<ol class="items-list">
    {{#each concepts as |item id|}}
        <li class="item flexrow use-concept" data-item-id="{{item.concept._id}}">
            <div class="item-name">
                {{#if @root.effort}}
                    <span class="item-image inactive">
                        <img src="{{item.concept.img}}" title="{{item.concept.name}}" width="24" height="24"/>
                    </span>
                    <h4>
                        <span class="item-control inactive">
                            {{item.concept.name}}
                            {{#if (greaterThan item.concept.system.value 1)}}
                                ({{localize "SCOP.Level"}}: {{item.concept.system.value}})
                            {{/if}}
                        </span>
                    </h4>
                {{else}}
                    <a class="item-image">
                        <img src="{{item.concept.img}}" title="{{item.concept.name}}" width="24" height="24"/>
                    </a>
                    <h4>
                        <a class="item-control">
                            {{item.concept.name}}
                            {{#if (greaterThan item.concept.system.value 1)}}
                                ({{localize "SCOP.Level"}}: {{item.concept.system.value}})
                            {{/if}}
                        </a>
                    </h4>
                {{/if}}
            </div>
            <div class="item-controls" id="use-concept" data-item-id="{{item.concept._id}}">
                {{#if @root.effort}}
                    <a class="item-control inactive"><i class="fa-regular fa-square"></i></a>
                {{else if (equal item.use 0)}}
                    <a class="item-control"><i class="fa-regular fa-square"></i></a>
                {{else if (greaterThan item.use 0)}}
                    <a class="item-control"><i class="fa-solid fa-plus"></i></a>
                {{else}}
                    <a class="item-control"><i class="fa-solid fa-minus"></i></a>
                {{/if}}
            </div>
        </li>
    {{/each}}
</ol>
