<div class="flexrow">
    <h3>{{localize "SCOP.Skills"}}</h3>
    <h3 class="item-create" data-type="skill">
        <a title="{{localize 'SCOP.NewSkill'}}">
            <i class="fas fa-circle-plus"></i>
        </a>
    </h3>
</div>
<ol class="items-list">
    <li class="item" data-item-id="0">
        <div class="item-image">
            <a class="rollable" data-roll-type="no-skill">
                <img src="{{actor.img}}" title="{{localize 'SCOP.NoSkill'}}" width="24" height="24"/>
            </a>
        </div>
        <div class="item-name">
            <a class="rollable" data-roll-type="no-skill">
                <h4>{{localize "SCOP.NoSkill"}}</h4>
            </a>
        </div>
    </li>
    {{> "systems/scop/templates/actor/parts/actor-skills-list.html" skills=skills}}
</ol>
