{{#each skills as |item id|}}
    <li class="item" data-item-id="{{item._id}}">
        <div class="item-image">
            <a class="rollable" data-roll-type="power-skill">
                <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
            </a>
        </div>
        <div class="item-name">
            <a class="rollable" data-roll-type="power-skill">
                <h4>
                    {{item.name}}
                </h4>
            </a>
        </div>
        <div class="item-level">
            {{numberFormat item.system.value sign=true}}
        </div>
        <div class="item-controls">
            <a class="item-control item-edit" id="edit" title="{{localize 'SCOP.EditSkill'}}"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" id="delete" title="{{localize 'SCOP.DeleteSkill'}}"><i class="fas fa-trash"></i></a>
        </div>
    </li>
{{/each}}
