<div class="flexrow">
    <h3>{{localize "SCOP.Resource.Plural"}}</h3>
    <h3 class="item-create" data-type="resource">
        <a title="{{localize 'SCOP.Resource.New'}}">
            <i class="fas fa-circle-plus"></i>
        </a>
    </h3>
</div>
<ol class="items-list">
    {{#each resources as |item id|}}
        <li class="item flexrow" data-item-id="{{item._id}}">
            {{#if (greaterThan item.system.value 0)}}
                <div class="item-image">
                    <a class="resource-use">
                        <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                    </a>
                </div>
                <div class="item-name">
                    <h4>
                        <a class="resource-use">
                            {{item.name}}
                        </a>
                    </h4>
                </div>
            {{else}}
                <div class="item-image">
                    <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                </div>
                <div class="item-name">
                    <h4>
                        {{item.name}}
                    </h4>
                </div>
            {{/if}}
            <div class="item-level-dots">
                {{{dots item.system.value item.system.max}}}
                {{#if (greaterThan item.system.value 0)}}
                    <a class="item-decrease" title="{{localize 'SCOP.Resource.Use'}}"><i class="fas fa-arrow-down"></i></a>
                {{else}}
                    <a class="inactive"><i class="fas fa-arrow-down"></i></a>
                {{/if}}
                {{#if (greaterThan item.system.max item.system.value)}}
                    <a class="item-increase" title="{{localize 'SCOP.Recover'}}"><i class="fas fa-arrow-up"></i></a>
                {{else}}
                    <a class="inactive"><i class="fas fa-arrow-up"></i></a>
                {{/if}}
            </div>
            <div class="item-controls">
                <a class="item-control item-edit" id="edit" title="{{localize 'SCOP.Resource.Edit'}}"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" id="delete" title="{{localize 'SCOP.Resource.Delete'}}"><i class="fas fa-trash"></i></a>
            </div>
        </li>
    {{/each}}
</ol>
