<div class="flexrow">
    <h3>{{localize "SCOP.Equipment"}}</h3>
    <h3 class="item-create" data-type="equipment">
        <a title="{{localize 'SCOP.NewEquipment'}}">
            <i class="fas fa-plus"></i>{{localize "SCOP.Equipment"}}
        </a>
    </h3>
</div>
<ol class="items-list">
    {{#each equipment as |item id|}}
        <li class="item flexrow" data-item-id="{{item._id}}">
            <div class="item-name">
                <div class="item-image">
                    <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                </div>
                <h4>
                    <a class="item-control item-edit">
                        {{item.name}}
                    </a>
                </h4>
            </div>
            <div class="flex-group-right list-level">
                <input type="text" value="{{item.system.value}}" disabled/>
                {{#if (greaterThan item.system.value 0)}}
                    <a class="item-control item-decrease" title="{{localize 'SCOP.Use'}}"><i class="fas fa-arrow-down"></i></a>
                {{else}}
                    <a class="item-control inactive"><i class="fas fa-arrow-down"></i></a>
                {{/if}}
                <a class="item-control item-increase" title="{{localize 'SCOP.Increase'}}"><i class="fas fa-arrow-up"></i></a>
            </div>
        </li>
    {{/each}}
</ol>
